<footer class="footer">
	<div class="container-default w-container"></div>
	<div class="divider footer-content-bottom-divider"></div>
	<div class="container-default w-container">
	  <div data-w-id="41920341-92b7-05c3-2ae0-042579c2b695" class="footer-content-bottom">
		<div class="footer-small-print">2021 © Copyright Mining Careers</div>
		<div class="footer-social-media-wrapper">
		  <a href="https://www.facebook.com/miningcareersaus/" target="_blank" class="image-wrapper social-media-link facebook w-inline-block"></a>
		  <a href="https://twitter.com/miningcareers" target="_blank" class="image-wrapper social-media-link twitter w-inline-block"></a>
		  <a href="https://www.linkedin.com/company/mining-careers/" target="_blank" class="image-wrapper social-media-link linkedin w-inline-block"></a>
		</div>
	  </div>
	</div>
  </footer>